.chatbot {
  background-color: rgba(36, 35, 35, 0.9);
  margin: 20px auto;
  max-width: 500px;
}

.chatbot .conversation {
  border: 2px solid #0069cc;
  display: block;
  height: 300px;
  padding: 20px;
  overflow-y: scroll;
  
  /* Para que la conversación esté alienada abajo */
  display: flex;
  flex-direction: column-reverse;
}

.chatbot .conversation > ul > li {
  display: block;
  margin-top: 10px;
}

/* .chatbot .conversation > ul > li.self {
  text-align: right;
} */

.chatbot .conversation > ul > li > .name {
  color: #0069cc;
  font-weight: bold;
  font-size: 12px;
}

.chatbot .conversation > ul > li > .message {
  margin-top: 2px;
}

.chatbot form.query {
  margin-top: 20px;
}

.chatbot form.query input {
  border: 2px solid #0069cc;
  width: 100%;
  padding: 10px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: background-image 2s ease-in-out;
}

.background.bg1 {
  background-image: url('static/W40k-bg2.jpg');
}

.background.bg2 {
  background-image: url('static/W40k-bg3.jpg');
}

.background.bg3 {
  background-image: url('static/W40k-bg4.jpg');
}
